 <footer class="footer bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 mt-6 col-lg-4 mt-4 text-center text-sm-start">
                <div class="information">
                    <h6 class="footer-heading text-uppercase text-white fw-bold">Information</h6>
                    <span>
                        <p class="mt-4 text-white mb-1">
                            1. Expert Bed Bug Control Services <br>
                            2. Specialized Bed Bug Removal Solutions<br>
                            3. Professional Bed Bug Inspection and Elimination<br>
                            4. Trusted Bed Bug Extermination Experts<br>
                            6. Comprehensive Bed Bug Management<br>
                            7. Affordable and Reliable Bed Bug Services<br><br>

                            Your Local Bed Bug Service Specialists</p>
                    </span>
                </div>
            </div>
            <div class="col-sm-2 col-md-1 mt-2 col-lg-1 text-center text-sm-start">
            </div>
            <div class="col-sm-8 col-md-2 mt-4 col-lg-3 text-center text-sm-start">
              <div class="social">
                  <h6 class="footer-heading text-uppercase text-white fw-bold">Social MEDIA</h6>
                  <ul class="list-inline my-4">
                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-white btn-sm btn btn-primary mb-2"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-danger btn-sm btn btn-light mb-2"><i class="bi bi-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-white btn-sm btn btn-primary mb-2"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-white btn-sm btn btn-success mb-2"><i class="bi bi-whatsapp"></i></a></li>
                </ul>
              </div>
          </div>
          <div class="col-sm-6 col-md-6 mt-4 col-lg-4 text-center text-sm-start">
              <div class="contact">
                  <h6 class="footer-heading text-uppercase text-white fw-bold">Contact Us</h6>
                  <address class="mt-4 m-0 text-white mb-1"><i class="bi bi-pin-map fw-semibold"></i> Anjaiah Nagar, Gacchibowli, Hyderabad, Pin, 500038</address>
                  <a href="tel:+" class="text-white mb-1 text-decoration-none d-block fw-semibold"><i class="bi bi-telephone"></i>  9346423672</a>
                  <a href="mailto:" class="text-white mb-1 text-decoration-none d-block fw-semibold"><i class="bi bi-envelope"></i> srikanthchinni@gmail.com</a>
              </div>
            </div>
        </div>
    </div>
    <div class="text-center bg-dark text-white mt-4 p-1">
        <p class="mb-0 fw-bold">2025 © SR SERVICE, All Rights Reserved</p>
    </div>
  </footer>